@model IList<PagNet.Interface.Areas.Cadastros.Models.APIClienteVm>
@using PagNet.Interface.Helpers

<div class="modal-body">
    <div class="table-responsive">
        <table id="example" class="table" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th style="text-align:center">Código do Cliente</th>
                    <th>Nome do Cliente</th>
                    <th style="text-align:center">Cpf/Cnpj</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    var CobrancaDiferenciada = "Não";
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        if (Model[i].COBRANCADIFERENCIADA) { CobrancaDiferenciada = "Sim"; }

                        <tr>
                            <td align='center'>
                                @Html.DisplayFor(item => item[i].CODCLIENTE)
                            </td>
                            <td>
                                @Html.DisplayFor(item => item[i].NMCLIENTE)
                            </td>
                            <td align='center'>
                                @Html.DisplayFor(item => item[i].CPFCNPJ)
                            </td>
                            <td align='center'>
                                <div class="btn btn-success" onclick="SelecionaCliente(@Model[i].CODCLIENTE, @Model[i].CODEMPRESA);" style="font-size:9px">
                                    <i class="fa fa-edit "></i>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
</div>

@* Rotina criada para apresentar alertas vindas do ViewData do controler *@
@Html.ShowError()

<script>

    function carregaPagina() {
    }
    $(window).load(carregaPagina());

    $(document).ready(function () {

        $('#example').dataTable({
            dom: 'frtip',
            //buttons: [
            //    'excel'
            //],
        });

    });

</script>
