@model IList<PagNet.Application.Models.ListaClienteUsuarioVm>
@using PagNet.Interface.Helpers

@using (Html.BeginForm())
{
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-12">
                <div class="table-responsive" style="margin-top: 5%">
                    <table id="GridListaClienteUsuario" class="table" width="100%">
                        <thead>
                            <tr>
                                <th width="10%" style="text-align:center;">Matrícula</th>
                                <th width="26%" style="text-align:center;">Usuário</th>
                                <th width="15%"style="text-align:center;">CPF</th>
                                <th width="10%" style="text-align:center;">Valor</th>
                                <th width="13%"></th>
                                <th width="13%"></th>
                                <th width="13%"></th>
                            </tr>
                        </thead>
                        <tbody>

                            @for (int i = 0; i < Model.Count; i++)
                            {
                            <tr>
                                <td width="10%" style="text-align:center;">
                                    @Html.DisplayFor(item => item[i].Matricula)
                                </td>
                                <td width="26%">
                                    @Html.DisplayFor(item => item[i].NomeClienteUsuario)
                                </td>
                                <td width="15%" style="text-align:center;">
                                    @Html.DisplayFor(item => item[i].CPF)
                                </td>
                                <td width="10%" style="text-align:center;">
                                    @Html.DisplayFor(item => item[i].Valor)
                                </td>
                                <td width="13%" align='center'>
                                    <div class="btn btn-success" onclick="SelecionaCliente();" style="font-size:9px" title="Gerar uma fatura para este usuário">
                                        Gerar Fatura
                                    </div>
                                </td>
                                <td width="13%" align='center'>
                                    <div class="btn btn-warning" onclick="SelecionaCliente();" style="font-size:9px" title="Valor será incluída na proxima fatura para a prefeitura">
                                        Proxima Fatura
                                    </div>
                                </td>
                                <td width="13%" align='center'>
                                    <div class="btn btn-danger" onclick="SelecionaCliente();" style="font-size:9px" title="Não será possíve cobrar este valor por algum motivo, sendo assim, será considerado este valor como pago">
                                       Baixar Valor
                                    </div>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

}

<script src="~/js/ScriptHelpersPartialView.js"></script>

@* Rotina criada para apresentar alertas vindas do ViewData do controler *@
@Html.ShowError()
<script>


    $(document).ready(function () {

        $.unblockUI();

        $('#GridListaClienteUsuario').dataTable({
            scrollX: true,
            order: [1, 'asc'],
            columnDefs: [
                {
                    "orderable": false,
                    "targets": [0]
                }
            ]

        });

    });

</script>
