@model PagNet.Application.Models.FiltroDownloadArquivoVm
@using PagNet.Interface.Helpers
@{
    ViewBag.Title = "Consulta de Arquivos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{

    @Html.HiddenFor(x => x.codEmpresa)
    @Html.HiddenFor(x => x.acessoAdmin)

    <div class="panel panel-default">
        <div class="panel-heading">
            <div style="font-weight: bold;font-size:15px;">
                <b>Consulta de Arquivos de Remessa</b>
            </div>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Intervalo de Data de Emissão do Arquivo
                                </div>
                                <div class="panel-body">
                                    <div class="form-group" id="GrupoTipoProgramacao">
                                        <div class="row">
                                            @Html.EditBootstrapFor(model => model.dtInicio, tudoTamanho: 6, inputTamanho: 11)
                                            @Html.EditBootstrapFor(model => model.dtFim, tudoTamanho: 6, inputTamanho: 11)
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8" id="FiltroEmpresa" style="display:none">
                            @Html.DDLBootstrapFor(model => model.codEmpresa, Model.nmEmpresa, "/Generico/CadastrosDiversos/GetEmpresa/", 0)
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-2  pull-right" style="margin-top:16%; margin-left:-2%">
                    <label></label>
                    <div class="input-group col-xs-12">
                        <div class="btn btn-success  pull-right" onclick="ConsultarArquivo();">Buscar Arquivos</div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="ListArqDownload">
        <div id="modal">

        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <div style="font-weight: bold;font-size:15px;">
                <b>Verifica Conteudo do Arquivo Remessa</b>
            </div>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">

                    <div class="col-xs-8 form-group">
                        <label for="ArquivoUpload">Selecione o Arquivo de Remessa</label>
                        <abbr class='tooltip2' title='Arquivo de Remessa baixado pelo sistema'>
                            <i class='fa fa-question-circle'></i>
                        </abbr>

                        <div class="input-group">
                            <input type="file" name="files" id="uploadFile" class="form-control" />
                            <span class="form-group input-group-btn">
                                <input class="btn btn-default" style="height:29px" type="button" onclick="ValidaArquivoRemessa();" value="Verificar">
                            </span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div id="ListaArquivosRemessa">
        <div id="modalListaArquivos">

        </div>
    </div>
}
@*<script src="~/js/Scripts/ContasPagar/ConsultarArquivoRemessa.js"></script>*@
<script src="@Url.Action("GetClassJs", "ConsultasGenericas", new { area = "Generico", id= "ContasPagar" , classe = "ConsultarArquivoRemessa.js", sid = ViewBag.Sid })"></script>

@* Rotina criada para apresentar alertas vindas do ViewData do controler *@
@Html.ShowError()

@section Scripts
    {
    <script>

        $("#dtInicio").change(function () {
            var dtInicio = $("#dtInicio").val().split("/");
            var dtFim = $("#dtFim").val().split("/");
            var dataIni = new Date(dtInicio[2], dtInicio[1] - 1, dtInicio[0]);
            var dataFim = new Date(dtFim[2], dtFim[1] - 1, dtFim[0]);

            if (dataFim < dataIni) {
                $("#dtFim").val($("#dtInicio").val())
            }
        });
        $("#dtFim").change(function () {
            var dtInicio = $("#dtInicio").val().split("/");
            var dtFim = $("#dtFim").val().split("/");
            var dataIni = new Date(dtInicio[2], dtInicio[1] - 1, dtInicio[0]);
            var dataFim = new Date(dtFim[2], dtFim[1] - 1, dtFim[0]);

            if (dataFim < dataIni) {
                $("#dtInicio").val($("#dtFim").val());
            }
        });

    </script>
}