@model PagNet.Application.Models.BorderoBolVM
@using PagNet.Interface.Helpers


@Html.AntiForgeryToken()
@Html.HiddenFor(x => x.codUsuario)
@Html.HiddenFor(x => x.codOpe)
@Html.HiddenFor(x => x.acessoAdmin)
@Html.HiddenFor(x => x.CaminhoArquivo)
@Html.HiddenFor(x => x.codigoEmpresa)
@Html.HiddenFor(x => x.codContaCorrente)


<div class="panel panel-default">
    <div class="panel-body">

        <div class="">
            <div class="form-group col-lg-2">
                <div class="form-group" style="margin-top: 19px">
                    <div class="col-lg-6">
                        <a id="btnDownload">
                            <div class="btn btn-default">
                                <i class="fa fa-download"></i> Download do Arquivo
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="form-group col-lg-6">
                @Html.EditBootstrapFor(model => model.qtBorderosSelecionados, tudoTamanho: 6, inputTamanho: 5)
                @Html.EditBootstrapFor(model => model.ValorTotalArquivo, tudoTamanho: 6, inputTamanho: 12)
            </div>
            <div class="form-group col-lg-4  pull-right">
                <div class="pull-right" style="margin-top: 19px">
                    <div id="btnGeraArquivo" class="btn btn-success" data-confirm="Confirma a geração do arquivo de remessa para os itens selecionados?" onclick="GeraArquivoRemessa();">Gerar Arquivo Remessa</div>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            @Html.DDLBootstrapFor(model => model.codContaCorrente, Model.nmContaCorrente, "/Generico/CadastrosDiversos/GetContaCorrenteBoleto/", "codigoEmpresa",null, 11)
            <span id="ValidaContaCorrente" style="display:none; margin-left:2%" class="text-danger field-validation-valid" data-valmsg-replace="true">
                Obrigatório Informar uma Conta Corrente!
            </span>
        </div>
        <div class="col-md-12" style="margin-top:2%;">


            @Html.EditorFor(model => model.ListaBordero, "IListaBorderoBol")
        </div>
    </div>
</div>

<script src="~/js/ScriptHelpersPartialView.js"></script>

@* Rotina criada para apresentar alertas vindas do ViewData do controler *@
@Html.ShowError()
<script>

    $(document).ready(function () {

        $('#btnDownload').hide();

        $("#qtBorderosSelecionados").prop('disabled', true);
        $("#ValorTotalArquivo").prop('disabled', true);

        if ($("#CaminhoArquivo").val() == "") {
            $("#btnDownload").prop('disabled', true);
        }
        else {
            $('#btnDownload').removeAttr('disabled');
        }

        $.unblockUI();


    });



</script>

