@model PagNet.Application.Models.FiltroConsultaFaturamentoVM
@using PagNet.Interface.Helpers


@{
    ViewBag.Title = "Arquivo Remessa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.codigoEmpresa)
    @Html.HiddenFor(x => x.codStatus)
    @Html.HiddenFor(x => x.acessoAdmin)

    <div class="panel panel-default">
        <div class="panel-heading">
            <div style="font-weight: bold;font-size:15px;">
                <b>Geração de Arquivos de Remessa para Emissão de Boletos</b>
            </div>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-md-11">
                    @Html.ValidationSummary(false, "(* campos obrigatórios)", new { @class = "text-danger" })
                    <div class="col-md-12">
                        @Html.EditBootstrapFor(model => model.codBordero, tudoTamanho: 2, inputTamanho: 12)
                    </div>
                    <div class="col-md-8" id="FiltroEmpresa" style="display:none">
                        @Html.DDLBootstrapFor(model => model.codigoEmpresa, Model.nomeEmpresa, "/Generico/CadastrosDiversos/GetEmpresa/", 0)
                    </div>


                </div>
                <div class="col-md-11">
                    <div class="form-group col-md-2  pull-right">
                        <label></label>
                        <div class="input-group col-xs-12">
                            <div class="btn btn-success" onclick="ConsultarBordero();">Consultar Borderôs</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="ListaBordero">
        <div id="modal">

        </div>
    </div>

}

@*<script src="~/js/Scripts/ContasReceber/GerarArquivoRemessa.js"></script>*@
<script src="@Url.Action("GetClassJs", "ConsultasGenericas", new { area = "Generico", id= "ContasReceber" , classe = "GerarArquivoRemessa.js", sid = ViewBag.Sid })"></script>

@* Rotina criada para apresentar alertas vindas do ViewData do controler *@
@Html.ShowError()

@section Scripts
    {
    <script>

        $("#dtInicio").change(function () {
            var dtInicio = $("#dtInicio").val().split("/");
            var dtFim = $("#dtFim").val().split("/");
            var dataIni = new Date(dtInicio[2], dtInicio[1] - 1, dtInicio[0]);
            var dataFim = new Date(dtFim[2], dtFim[1] - 1, dtFim[0]);

            if (dataFim < dataIni) {
                $("#dtFim").val($("#dtInicio").val())
            }
        });
        $("#dtFim").change(function () {
            var dtInicio = $("#dtInicio").val().split("/");
            var dtFim = $("#dtFim").val().split("/");
            var dataIni = new Date(dtInicio[2], dtInicio[1] - 1, dtInicio[0]);
            var dataFim = new Date(dtFim[2], dtFim[1] - 1, dtFim[0]);

            if (dataFim < dataIni) {
                $("#dtInicio").val($("#dtFim").val());
            }
        });

    </script>
}
