@model PagNet.Interface.Areas.Identificacao.Models.NovaSenhaModel
@using PagNet.Interface.Helpers

@{
    ViewBag.Title = "Recuperar Acesso";
    Layout = "~/Views/Shared/_LayoutNaoLogado.cshtml";
}

<div class="main">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(x => x.codigoOperadora)
        @Html.HiddenFor(x => x.codigoUsuario)
        @Html.HiddenFor(x => x.codigoEnviado)


        <h1>
            <img class="img-responsive img-rounded" src="~/images/Logos/LogoDefault/LogoPagNet.png" alt="User picture" style="width:60%">
            <br />
        </h1>
        <div id="msgValidacao" style="display:none">
            <div class="col-md-12" style="color:red;font-size: 15px;">
                <span>Código informado inválido</span>
            </div>
        </div>

        <div id="ValidaPin" style="margin-top:5%;">
            <div class="form-group col-md-12">
                <label for="Username">Informe o código enviado para o seu Email</label>
                <div class="row">
                    <div class="col-md-6">
                        <input type="number" name="PIN" id="PIN_fake" class="hidden" autocomplete="off" style="display: none;" />
                        @Html.TextBoxFor(m => m.PIN, new { @class = "form-control", @autocomplete = "off", @type = "number" })
                    </div>
                    <div class="col-md-6">
                        <div id="btnEnviar" class="EnviarRecuperarSenha" onclick="HabilitaAlteraSenha();">Proximo</div>
                    </div>
                </div>
            </div>
        </div>

        <div id="AlteraSenha" style="display:none; margin-top: 3%;">
            <div class="form-group col-md-12">
                <label for="Password">Digite sua Senha</label>
                <input type="number" name="Password" id="Password_fake" class="hidden" autocomplete="off" style="display: none;" />
                @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @autocomplete = "off", @type = "password" })

                <label for="ConfirmPassword">Confirme sua senha</label>
                <input type="number" name="ConfirmPassword" id="ConfirmPassword_fake" class="hidden" autocomplete="off" style="display: none;" />
                @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", @autocomplete = "off", @type = "password" })
                <div class="col-md-12">
                    <div id="btnEnviar" class="EnviarRecuperarSenha" onclick="SalvarAlteraSenha();">Alterar</div>
                </div>
            </div>
        </div>

    }
</div>


<script>

    $("#PIN").keyup(function (event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            HabilitaAlteraSenha();
        }
    });

    function HabilitaAlteraSenha() {
        var pin = $("#PIN").val();
        var codigoEnviado = $("#codigoEnviado").val();
        if (pin != codigoEnviado) {
            $("#msgValidacao").show();
        } else {
            $("#msgValidacao").hide();
            $("#ValidaPin").hide();
            $("#AlteraSenha").show();
            document.getElementsByTagName("form")[0].style.height = "340px"

        }
    }

    $("#PIN").focusout(function () {
        HabilitaAlteraSenha();
    });

    function SalvarAlteraSenha() {

        if ($("#Password").val().length < 6) {
            msgAviso("A senha deve conter no mínimo 6 caracteres!");
            return false;

        }

        if ($("#Password").val() != $("#ConfirmPassword").val()) {
            msgAviso("Senhas não conferem!");
            return false;
        }

        //var url = montaUrl('/ContasPagar/GeraBordero/BuscaBanco/?filtro=' + filtro);
        var url = montaUrl('/Cadastros/Usuarios/SalvarAlteraSenha/?Password=' + $("#Password").val());

        url += "&CodUsuario=" + $("#CodUsuario").val() +
            "&nmUsuario=" + $("#nmUsuario").val() +
            "&PerfilOperadora=" + $("#PerfilOperadora").val() +
            "&Cpf=" + $("#Cpf").val() +
            "&CodOpe=" + $("#CodOpe").val() +
            "&CODEMPRESA=" + $("#CODEMPRESA").val() +
            "&Email=" + $("#Email").val() +
            "&Administrador=" + $("#Administrador").val() +
            "&Login=" + $("#Login").val();


        $.blockUI({ message: '<div class="ModalCarregando"></dic>' });

        $.ajax({
            type: 'Post',
            url: url,
            dataType: 'json',
            success: function (data) {
                $.unblockUI();
                if (data.success) {
                    msgSucessoComReload(data.responseText);
                }
                else {
                    msgErro(data.responseText);
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                addErros("FiltroNmBanco", "Erro interno. Tente novamente mais tarde.");
            }
        });
    };


</script>



