@model PagNet.Interface.Areas.Identificacao.Models.FiltroRecuperaSenhaModel

@{
    ViewBag.Title = "Recuperar Acesso";
    Layout = "~/Views/Shared/_LayoutNaoLogado.cshtml";
}

<div class="main">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


        <h1>
            <img class="img-responsive img-rounded" src="~/images/Logos/LogoDefault/LogoPagNet.png" alt="User picture" style="width:60%">
            <br />
        </h1>
        @if (Model.MensagemRetorno != "")
        {
            if (Model.Sucesso)
            {
                <div class="col-md-12" style="color:green;font-size: 13px;">
                    <span>@Model.MensagemRetorno</span>
                </div>
            }
            else
            {
                <div class="col-md-12" style="color:red;font-size: 13px;">
                    <span>@Model.MensagemRetorno</span>
                </div>
            }
        }
        <div id="msgValidacao" style="display:none">
            <div class="col-md-12" style="color:red;font-size: 13px;">
                <span>Obrigatório informar o login ou email cadastrado no sistema PagNet.</span>
            </div>
        </div>

        <div class="inset" style="margin-top: 5%;">
            <div class="form-group">
                <label for="Username">Email / Login</label>
                @Html.TextBoxFor(m => m.EmailLoginUsuario, new { placeholder = "nome@suaempresa", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.EmailLoginUsuario, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-12">
            <div id="btnEnviar" class="EnviarRecuperarSenha" onclick="ConfirmaEnvioEmail();">Enviar</div>
        </div>

    }
</div>


@section Scripts
    {
    <script>

        document.getElementsByTagName("form")[0].style.height = "290px"

        function ConfirmaEnvioEmail() {
            var form = $('form', '#page-inner');

            if ($("#EmailLoginUsuario").val() == "") {
                $("#msgValidacao").show();
                document.getElementsByTagName("form")[0].style.height = "320px";
                return false;
            }

            $("#msgValidacao").hide();
            var url = montaUrl("/Identificacao/RecuperarAcesso/EnviaLinkRecuperaAcesso/");

            form.attr('action', url);
            form.submit();

        }


    </script>
}
