@model IList<PagNet.Application.Models.ConsultaContaEmailVM>
@using PagNet.Interface.Helpers

<div class="modal-body">
    <div class="table-responsive">
        <table id="example" class="table" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.FirstOrDefault().NMCONTAEMAIL)</th>
                    <th>@Html.DisplayNameFor(model => model.FirstOrDefault().EMAIL)</th>
                    <th>@Html.DisplayNameFor(model => model.FirstOrDefault().EMAILPRINCIPAL)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @if (Model != null)
                {
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(item => item[i].NMCONTAEMAIL)
                            </td>
                            <td>
                                @Html.DisplayFor(item => item[i].EMAIL)
                            </td>
                            <td>
                                @Html.DisplayFor(item => item[i].EMAILPRINCIPAL)
                            </td>
                            <td align='center'>
                                <a href="@Url.Action("Index", "ContasEmail", new { area = "Cadastros", id = Model[i].CODCONTAEMAIL, sid = ViewBag.Sid })">
                                    <div class="btn btn-primary btn-xs">
                                        <i class="fa fa-edit "></i>
                                    </div>
                                </a>
                            </td>
                        </tr>
                    }
                }
                </tbody>
        </table>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
</div>


@* Rotina criada para apresentar alertas vindas do ViewData do controler *@
@Html.ShowError()

<script>

    function carregaPagina() {
    }
    $(window).load(carregaPagina());

    $(document).ready(function () {

        $('#example').dataTable({
            dom: 'frtip',
            //buttons: [
            //    'excel'
            //],
        });

    });

</script>
