@model PagNet.Application.Models.ContaEmailVM
@using PagNet.Interface.Helpers

@{
    ViewBag.Title = "Contas Email";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(x => x.CODCONTAEMAIL)
    @Html.HiddenFor(x => x.ATIVO)
    @Html.HiddenFor(x => x.EMAILPARA)
    @Html.HiddenFor(x => x.EMAILPRINCIPAL)
    @Html.HiddenFor(x => x.acessoAdmin)


    <div class="panel panel-default">
        <div class="panel-heading">
            <div style="font-weight: bold; font-size: 15px;">
                <b>Cadastro da Conta de Email</b>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            @Html.ValidationSummary(false, "(* campos obrigatórios)", new { @class = "text-danger" })
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6" id="FiltroEmpresa" style="display:none">
                                        @Html.DDLBootstrapFor(model => model.codEmpresa, Model.nmEmpresa, "/Generico/CadastrosDiversos/GetEmpresa/", 0)
                                    </div>
                                    <div class="col-md-12">
                                        @Html.EditBootstrapFor(model => model.NMCONTAEMAIL, tudoTamanho: 8, inputTamanho: 12)
                                        <div class="form-group col-md-2">
                                            <label></label>
                                            <div class="input-group col-xs-12" id="btnLocalizar">
                                                <div class="btn btn-success" onclick="LocalizarContas();">Localizar</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        @Html.EditBootstrapFor(model => model.EMAIL, tudoTamanho: 6, inputTamanho: 12)
                                        @Html.EditBootstrapFor(model => model.SENHA, tudoTamanho: 3, inputTamanho: 12)
                                        @Html.EditBootstrapFor(model => model.CONFIRMASENHA, tudoTamanho: 3, inputTamanho: 12)
                                    </div>
                                    <div class="col-md-12">
                                        @Html.EditBootstrapFor(model => model.SERVIDOR, tudoTamanho: 5, inputTamanho: 12)
                                        @Html.EditBootstrapFor(model => model.PORTA, tudoTamanho: 3, inputTamanho: 12)
                                        <div class="col-md-4">
                                            <div class="row" style="margin-left:0.5%;width:60%">
                                                @Html.DDLBootstrapFor(model => model.CRIPTOGRAFIA, Model.NMCRIPTOGRAFIA, "/Cadastros/ContasEmail/GetTiposCriptografia/", 0)
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel panel-default col-md-3" style="margin-left:2%" id="EmailPrincipal">
                                        <div class="panel-heading-decision">
                                            Email Principal?
                                            <abbr data-placement="top" data-toggle="tooltip"
                                                  title="O sistema realiza até duas tentativas de envio de email. O email principal será utilizado como primeira opção de envio de email.&#013;Caso ele falhe, o sistema utilizará o email que não é o principal. Sendo assim, aconselhamos cadastrar 2 emails diferentes.">
                                                <i class="fa-question-circle fa"></i>
                                            </abbr>
                                        </div>
                                        <div class="panel-body">
                                            <ul class="nav nav-pills">
                                                <li class="active" id="liEmailPrincipalSim">
                                                    <a href="#EmailPrincipalSim" data-toggle="tab" id="btnEmailPrincipalSim">Sim</a>
                                                </li>
                                                <li class="" id="liEmailPrincipalNao">
                                                    <a href="#EmailPrincipalNao" data-toggle="tab" id="btnEmailPrincipalNao">Não</a>
                                                </li>
                                            </ul>
                                            <div class="tab-content" style="margin-top:2%;">
                                                <div class="tab-pane fade" id="EmailPrincipalSim">
                                                    <div class="row">
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="EmailPrincipalNao">

                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                    <div class="col-md-12">
                                        <hr />
                                        <div class="form-group  pull-right">
                                            <div id="btnTestarConfiguracoes" class="btn btn-default" onclick="TestarConfiguracoes();">Testar Configurações</div>
                                            <a id="btnNovo" class="btn btn-default" href="@Url.Action("Index", "ContasEmail", new { area = "Cadastros", id = "0", sid = ViewBag.Sid })">
                                                Novo
                                            </a>
                                            <div id="btnSalvar" class="btn btn-success" onclick="ConfirmaSalvar();" data-confirm="Tem certeza que deseja salvar?">Salvar</div>
                                            <div id="btnDesativar" class="btn btn-danger" onclick="ConfirmaDesativar();" data-confirm="Tem certeza que deseja desativar este E-mail?">Desativar</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="Localizar" tabindex="-1" role="dialog" aria-labelledby="Localizar" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div id="modal">

                </div>
            </div>
        </div>
    </div>

}
@*<script src="~/js/Scripts/Cadastros/ContasEmail.js"></script>*@
<script src="@Url.Action("GetClassJs", "ConsultasGenericas", new { area = "Generico", id= "Cadastros" , classe = "ContasEmail.js", sid = ViewBag.Sid })"></script>

@* Rotina criada para apresentar alertas vindas do ViewData do controler *@
@Html.ShowError()
