@model PagNet.Application.Models.PerfilAcessoVM
@using PagNet.Interface.Helpers

@{
    ViewBag.Title = "Conta Corrente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(x => x.acessoAdmin)


    <div class="panel panel-default">
        <div class="panel-heading">
            <div style="font-weight: bold; font-size: 15px;">
                <b>Cadastro de Conta Corrente</b>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            @Html.ValidationSummary(false, "(* campos obrigatórios)", new { @class = "text-danger" })
                            <div class="row">
                                <div class="form-group col-md-2">
                                    <label></label>
                                    <div class="input-group col-xs-12" id="btnLocalizar">
                                        <div class="btn btn-success" onclick="CarregaGrid();">Localizar</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="Localizar" tabindex="-1" role="dialog" aria-labelledby="Localizar" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div id="modal">

                </div>
            </div>
        </div>
    </div>

}

@*<script src="~/js/Scripts/Cadastros/ContaCorrente.js"></script>*@
<script src="@Url.Action("GetClassJs", "ConsultasGenericas", new { area = "Generico", id= "Configuracao" , classe = "PerfisAcesso.js", sid = ViewBag.Sid })"></script>

@* Rotina criada para apresentar alertas vindas do ViewData do controler *@
@Html.ShowError()
