@model PagNet.Application.Models.BorderoPagVM
@using PagNet.Interface.Helpers


@Html.AntiForgeryToken()
@Html.HiddenFor(x => x.codBanco)
@Html.HiddenFor(x => x.codUsuario)
@Html.HiddenFor(x => x.codOpe)
@Html.HiddenFor(x => x.acessoAdmin)
@Html.HiddenFor(x => x.CaminhoArquivo)
@Html.HiddenFor(x => x.codigoBanco)
@Html.HiddenFor(x => x.codigoFormaPGTO)
@Html.HiddenFor(x => x.codigoEmpresa)


<div class="panel panel-default">
    <div class="panel-body">
        <div class="col-md-12" style="margin-top:2%;">
            @Html.EditorFor(model => model.ListaBordero, "IListaConsultaBorderoPag")
        </div>
    </div>
</div>


@* Rotina criada para apresentar alertas vindas do ViewData do controler *@
@*@Html.ShowError()*@
<script>

    $(document).ready(function () {

        $.unblockUI();


    });



</script>

