@model PagNet.Application.Models.FiltroConsultaBorderoPagVM
@using PagNet.Interface.Helpers


@{
    ViewBag.Title = "Arquivo Remessa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.codBanco)
    @Html.HiddenFor(x => x.codEmpresa)
    @Html.HiddenFor(x => x.CodFormaPagamento)
    @Html.HiddenFor(x => x.codStatus)
    @Html.HiddenFor(x => x.acessoAdmin)

    <div class="panel panel-default">
        <div class="panel-heading">
            <div style="font-weight: bold;font-size:15px;">
                <b>Consulta de Borderôs Criados para Pagamento</b>
            </div>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-md-11">
                    @Html.ValidationSummary(false, "(* campos obrigatórios)", new { @class = "text-danger" })

                    <div class="col-md-6" id="FiltroEmpresa" style="display:none">
                        @Html.DDLBootstrapFor(model => model.codEmpresa, Model.nmEmpresa, "/Generico/CadastrosDiversos/GetEmpresa/", null, model => model.codContaCorrente, 0)
                    </div>
                    <div class="col-md-12">
                        @Html.EditBootstrapFor(model => model.codBordero, tudoTamanho: 2, inputTamanho: 12)
                    </div>
                    <div class="col-md-6">
                        @Html.DDLBootstrapFor(model => model.codContaCorrente, Model.nmContaCorrente, "/Generico/CadastrosDiversos/GetContaCorrente/", "codEmpresa", null, 0)
                    </div>


                    <div class="col-md-6">
                        @Html.DDLBootstrapFor(model => model.codStatus, Model.nmStatus, "/ContasPagar/ConsultaBordero/StatusBordero/", 0)
                    </div>

                </div>
                <div class="col-md-12">
                    <div class="form-group col-md-2  pull-right">
                        <label></label>
                        <div class="input-group col-xs-12">
                            <div class="btn btn-success" onclick="ConsultarFechCred();">Consultar Borderôs</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="ListaBordero">
        <div id="modal">

        </div>
    </div>

}
@*<script src="~/js/Scripts/ContasPagar/ConsultaBordero.js"></script>*@
<script src="@Url.Action("GetClassJs", "ConsultasGenericas", new { area = "Generico", id= "ContasPagar" , classe = "ConsultaBordero.js", sid = ViewBag.Sid })"></script>

@* Rotina criada para apresentar alertas vindas do ViewData do controler *@
@Html.ShowError()
