@model PagNet.Application.Models.FiltroExtratoBancarioVm
@using PagNet.Interface.Helpers


@{
    ViewBag.Title = "Extrato Bancario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.acessoAdmin)


    <div class="panel panel-default">
        <div class="panel-heading">
            <div style="font-weight: bold;font-size:15px;">
                <b>Extrato Bancário</b>
            </div>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-md-8">
                    <div class="col-md-12">
                        @Html.DDLBootstrapFor(model => model.codigoEmpresa, Model.nomeEmpresa, "/Generico/CadastrosDiversos/GetEmpresa/", null, model => model.codContaCorrente, 6)
                        @*@Html.DDLBootstrapFor(model => model.codigoEmpresa, Model.nomeEmpresa, "/Generico/CadastrosDiversos/GetEmpresa/", 6)*@

                        <div class="col-md-5">
                            @Html.DDLBootstrapFor(model => model.codContaCorrente, Model.nmContaCorrente, "/Generico/CadastrosDiversos/GetContaCorrente/", "codigoEmpresa", null, 0)
                            <span id="ValidaContaCorrente" style="display:none; margin-left:2%" class="text-danger field-validation-valid" data-valmsg-replace="true">
                                Obrigatório Informar uma Conta Corrente!
                            </span>
                        </div>
                    </div>
                    <div class="col-md-12" style="margin-top: 6%;">
                        <div class="form-group col-md-6  pull-right" style="margin-top:0.3%; margin-left:-2%">
                            <label></label>
                            <div class="input-group col-xs-12">
                                <div class="btn btn-success  pull-right" onclick="ConsultarExtrato();">Consultar</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-10 pull-right">
                            <div class="panel panel-default" style="float:right">
                                <div class="panel-heading">
                                    Intervalo de Data
                                </div>
                                <div class="panel-body">
                                    <div class="form-group" id="GrupoTipoProgramacao">
                                        <div class="row">
                                            @Html.EditBootstrapFor(model => model.dtInicio, tudoTamanho: 12, inputTamanho: 11)
                                        </div>
                                        <div class="row">
                                            @Html.EditBootstrapFor(model => model.dtFim, tudoTamanho: 12, inputTamanho: 11)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

            <div class="col-md-12" id="DadosContaCorrente">
                <div id="modalDadosContaCorrente">

                </div>
            </div>
            <div class="col-md-6">
                <div id="ListaMaioresReceitas">
                    <div id="modalListaMaioresReceitas">

                    </div>
                </div>

                <div id="ListaMaioresDespesas">
                    <div id="modalListaMaioresDespesas">

                    </div>
                </div>
            </div>
            <div class="col-md-6" id="ListaExtratoBancario">
                <div id="modalListaExtratoBancario">

                </div>
            </div>



        </div>

    </div>




}

<script src="@Url.Action("GetClassJs", "ConsultasGenericas", new { area = "Generico", id= "Tesouraria" , classe = "ExtratoBancario.js", sid = ViewBag.Sid })"></script>

@Html.ShowError()
