@model IList<PagNet.Application.Models.TesourariaMaioresReceitasVM>
@using PagNet.Interface.Helpers

@{
    string nmPropriedade = ViewData.ModelMetadata.PropertyName;
}
<div id="@nmPropriedade" class="panel panel-default TesourariaMaioresReceitasVM">
    <div class="panel-heading">
        Maiores Entradas no Período
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table id="gridMaioresReceitas" class="table" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th width="40%">Descrição</th>
                        <th width="45%" style="text-align:center;">Origem</th>
                        <th width="15%" style="text-align:center;">Valor</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            var PonteiroMouse = "cursor:Pointer";

                            <tr>
                                <td class="inpNomeReceitas" width="40%" title="@Model[i].NomeReceitas" style="@PonteiroMouse">
                                    @Html.DisplayFor(item => item[i].NomeReceitas)
                                </td>
                                <td class="inpOrigemReceitas" width="45%" title="@Model[i].OrigemReceitas" style="text-align:center;@PonteiroMouse">
                                    @Html.DisplayFor(item => item[i].OrigemReceitas)
                                </td>
                                <td class="inpValorReceitas" width="15%" title="@Model[i].ValorReceitas" style="text-align:right;@PonteiroMouse">
                                    @Html.DisplayFor(item => item[i].ValorReceitas)
                                </td>
                            </tr>
                        }

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@Html.ShowError()
<script type="text/javascript">

    $(document).ready(function () {
        $.unblockUI();
        var table = $('#gridMaioresReceitas').DataTable({
            dom: 'rt',
            ordering: false
        });

        $('#gridMaioresReceitas tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });
    });

</script>
