@model PagNet.Application.Models.IndicaroresVM
@using PagNet.Interface.Helpers

<script src="https://code.highcharts.com/highcharts.js"></script>
@{
    ViewBag.Title = "Indicadores de Credenciados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.codEmpresa)
    @Html.HiddenFor(x => x.acessoAdmin)
    @Html.HiddenFor(x => x.cartaoPos)
    @Html.HiddenFor(x => x.cartaoPre)

    <div class="panel panel-default">
        <div class="panel-heading">
            <div style="font-weight: bold;font-size:15px;">
                <b>Indicadores de Transação Previstas</b>
            </div>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-md-8">

                    <div class="col-md-9">
                        @Html.DDLBootstrapFor(model => model.codEmpresa, Model.nmEmpresa, "/Generico/CadastrosDiversos/GetEmpresa/", 0)
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-10 pull-right">
                            <div class="panel panel-default" style="float:right">
                                <div class="panel-heading">
                                    Intervalo de Data de Pagamento
                                </div>
                                <div class="panel-body">
                                    <div class="form-group" id="GrupoTipoProgramacao">
                                        <div class="row">
                                            @Html.EditBootstrapFor(model => model.dtInicio, tudoTamanho: 12, inputTamanho: 11)
                                        </div>
                                        <div class="row">
                                            @Html.EditBootstrapFor(model => model.dtFim, tudoTamanho: 12, inputTamanho: 11)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group col-md-2  pull-right">
                        <label></label>
                        <div class="input-group col-xs-12 pull-right">
                            <div class="btn btn-success  pull-right" onclick="ConsultarTransacaoo();">Atualizar Indicadores</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-12" id="ListReceitaDespesa" style="margin-left: -1%;">
        <div id="modalReceitaDespesa">

        </div>
    </div>
    <div class="col-md-12" id="ListTransacaoPag" style="margin-left: -1%;">
        <div id="modalPag">

        </div>
    </div>
    <div class="col-md-12" id="ListTransacaoReceita" style="margin-left: -1%;">
        <div id="modalReceita">

        </div>
    </div>


}


<script src="~/js/Scripts/Indicadores/ReceitaDespesa.js"></script>

@* Rotina criada para apresentar alertas vindas do ViewData do controler *@
@Html.ShowError()


@section Scripts
    {
    <script>

        $("#dtInicio").change(function () {
            var dtInicio = $("#dtInicio").val().split("/");
            var dtFim = $("#dtFim").val().split("/");
            var dataIni = new Date(dtInicio[2], dtInicio[1] - 1, dtInicio[0]);
            var dataFim = new Date(dtFim[2], dtFim[1] - 1, dtFim[0]);

            if (dataFim < dataIni) {
                $("#dtFim").val($("#dtInicio").val())
            }
        });

        $("#dtFim").change(function () {
            var dtInicio = $("#dtInicio").val().split("/");
            var dtFim = $("#dtFim").val().split("/");
            var dataIni = new Date(dtInicio[2], dtInicio[1] - 1, dtInicio[0]);
            var dataFim = new Date(dtFim[2], dtFim[1] - 1, dtFim[0]);

            if (dataFim < dataIni) {
                $("#dtInicio").val($("#dtFim").val());
            }
        });

    </script>
}