@model PagNet.Application.Models.InstrucaoEmailVm
@using PagNet.Interface.Helpers

@{
    ViewBag.Title = "Contas Email";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(x => x.CODINSTRUCAOEMAIL)
    @Html.HiddenFor(x => x.acessoAdmin)

    <div class="panel panel-default">
        <div class="panel-heading">
            <div style="font-weight: bold; font-size: 15px;">
                <b>Cadastro da Instrução do Email</b>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            @Html.ValidationSummary(false, "(* campos obrigatórios)", new { @class = "text-danger" })
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6" id="FiltroEmpresa" style="display:none">
                                        @Html.DDLBootstrapFor(model => model.codEmpresa, Model.nmEmpresa, "/Generico/CadastrosDiversos/GetEmpresa/", 0)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.EditBootstrapFor(model => model.ASSUNTO, tudoTamanho: 12, inputTamanho: 12)
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-10">
                                        @Html.EditBootstrapFor3(model => model.MENSAGEM, tudoTamanho: 12, inputTamanho: 12)
                                    </div>

                                    <div class="col-md-12">
                                        <hr />
                                        <div class="form-group  pull-right">
                                            <div id="btnSalvar" class="btn btn-success" onclick="ConfirmaSalvar();" data-confirm="Tem certeza que deseja salvar?">Salvar</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="Localizar" tabindex="-1" role="dialog" aria-labelledby="Localizar" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div id="modal">

                </div>
            </div>
        </div>
    </div>

}
@*<script src="~/js/Scripts/Cadastros/InstrucaoEmail.js"></script>*@
<script src="@Url.Action("GetClassJs", "ConsultasGenericas", new { area = "Generico", id= "Cadastros" , classe = "InstrucaoEmail.js", sid = ViewBag.Sid })"></script>

@* Rotina criada para apresentar alertas vindas do ViewData do controler *@
@Html.ShowError()
