@model IList<PagNet.Application.Models.ListaConciliacaoVM>
@using PagNet.Interface.Helpers

@{
    string nmPropriedade = ViewData.ModelMetadata.PropertyName;
}

<div id="@nmPropriedade" class="panel panel-default ListaTitulosVM">
    <div class="panel-heading">
        Lista de Transações
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                @Html.DDLbtnDinamic("AcoesConciliacaoBancaria", "Ações", "/Tesouraria/ConciliacaoBancaria/CarregaListaAcoesConciliacao/", 1)
            </div>
            <div class="col-md-11" style="background-color:darkgrey;margin-left:3%;margin-top:1%;border:1px solid #264c54;" id="DadosCliente">

                @if (Model != null)
                {
                    <div>
                        <b>Saldo Anterior </b>
                        <input id="SaldoAnterior" name="SaldoAnterior" type="text" disabled="" value="@Model.FirstOrDefault().SaldoAnterior" style="background-color:darkgrey;border: darkgrey;width: 15%;">

                        <b>Total de Crédito </b>
                        <input id="TotalCredito" name="TotalCredito" type="text" disabled="" value="@Model.FirstOrDefault().TotalCredito" style="background-color:darkgrey;border: darkgrey;width: 15%;">

                        <b>Total de Débito </b>
                        <input id="TotalDebito" name="TotalDebito" type="text" disabled="" value="@Model.FirstOrDefault().TotalDebito" style="background-color:darkgrey; color: #ab0000;border: darkgrey;width: 19%;">

                        <b>Saldo Atual </b>
                        <input id="SaldoFinal" name="SaldoFinal" type="text" disabled="" value="@Model.FirstOrDefault().SaldoFinal" style="background-color:darkgrey;border: darkgrey;width: 15%;">
                    </div>
                    <div>
                        <b>Total de Lancamentos </b>
                        <input id="TotalRegistros" name="TotalRegistros" type="text" disabled="" value="@Model.FirstOrDefault().TotalRegistros" style="background-color:darkgrey;border: darkgrey;width: 11.5%;">

                        <b>Lançamentos Conciliados </b>
                        <input id="TotalRegistroConciliados" name="TotalRegistroConciliados" type="text" disabled="" value="@Model.FirstOrDefault().TotalRegistroConciliados" style="background-color:darkgrey;border: darkgrey;width: 10%;">

                        <b>Lançamentos não Encontrados no PagNet </b>
                        <input id="TotalRegistrosNaoEncontrados" name="TotalRegistrosNaoEncontrados" type="text" disabled="" value="@Model.FirstOrDefault().TotalRegistrosNaoEncontrados" style="background-color:darkgrey;border: darkgrey;width:  10.5%;">
                    </div>
                }
            </div>
        </div>
        <div class="table-responsive" style="margin-top: 1%;">
            <table id="gridConciliacaoBancaria" class="table" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th width="10%" style="text-align:center;">Data</th>
                        <th width="40%">Descrição</th>
                        <th width="10%" style="text-align:center;">Tipo</th>
                        <th width="15%" style="text-align:right;">Valor</th>
                        <th width="25%" style="text-align:center;">Situação</th>
                        <th width="0%" style="display:none;"></th>
                        <th width="0%" style="display:none;"></th>
                        <th width="0%" style="display:none;"></th>
                        <th width="0%" style="display:none;"></th>
                        <th width="0%" style="display:none;"></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            var CorTexto = "color:#151414";
                            var PonteiroMouse = "cursor:Pointer";
                            var backcolor = "background-color:#ffffff";

                            if (Model[i].TipoConciliacao == "Saída")
                            {
                                CorTexto = "color:#f70000";
                            }

                            if (Model[i].TransacaoEncontrada == "N")
                            {
                                backcolor = "background-color:#bdb76b";
                            }
                            if (Model[i].TransacaoEncontrada == "T")
                            {
                                backcolor = "background-color:#d4de38";
                            }

                            <tr style="@backcolor">
                                <td class="inpDataConciliacao" width="10%" style="text-align:center;@PonteiroMouse;">
                                    @Html.DisplayFor(item => item[i].DataConciliacao)
                                </td>
                                <td class="inpDescricaoConciliacao" width="30%" style="@PonteiroMouse;">
                                    @if (Model[i].TransacaoEncontrada == "N" || Model[i].TransacaoEncontrada == "T")
                                    { 
                                        <i class="fa fa-exclamation-triangle" width="10%" id="imgExclamation" title="Transação não localizada no sistema" style="color:#323652" aria-hidden="true"></i>
                                    }
                                    @Html.DisplayFor(item => item[i].DescricaoAbreviadaConciliacao)
                                </td>
                                <td class="inpTipoConciliacao" width="10%" style="text-align:center;@PonteiroMouse;@CorTexto">
                                    @Html.DisplayFor(item => item[i].TipoConciliacao)
                                </td>
                                <td class="inpValorTransacao" width="15%" style="text-align:right;@PonteiroMouse;@CorTexto">
                                    @Html.DisplayFor(item => item[i].ValorTransacao)
                                </td>
                                <td class="inpStatusPN" width="35%" style="text-align:center;@PonteiroMouse;">
                                    @Html.DisplayFor(item => item[i].StatusPN)
                                </td>

                                <td class="DataConciliacao" width="0%" style="display:none;">
                                    <input class="" type="hidden" name="@String.Format("{0}[{1}].DataConciliacao", nmPropriedade, i)" value="@Model[i].DataConciliacao" />
                                </td>
                                <td class="DescricaoConciliacao" width="0%" style="display:none;">
                                    <input class="" type="hidden" name="@String.Format("{0}[{1}].DescricaoConciliacao", nmPropriedade, i)" value="@Model[i].DescricaoConciliacao" />
                                </td>
                                <td class="ValorTransacao" width="0%" style="display:none;">
                                    <input class="" type="hidden" name="@String.Format("{0}[{1}].ValorTransacao", nmPropriedade, i)" value="@Model[i].ValorTransacao" />
                                </td>
                                <td class="TipoConciliacao" width="0%" style="display:none;">
                                    <input class="" type="hidden" name="@String.Format("{0}[{1}].TipoConciliacao", nmPropriedade, i)" value="@Model[i].TipoConciliacao" />
                                </td>
                                <td class="TransacaoEncontrada" width="0%" style="display:none;">
                                    <input class="" type="hidden" name="@String.Format("{0}[{1}].TransacaoEncontrada", nmPropriedade, i)" value="@Model[i].TransacaoEncontrada" />
                                </td>
                            </tr>
                        }

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="modal fade" id="EditarTitulo" tabindex="-1" role="dialog" aria-labelledby="EditarTitulo" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div id="modalEditarTitulo">

            </div>
        </div>
    </div>
</div>


<script src="~/js/ScriptHelpersPartialView.js"></script>

@* Rotina criada para apresentar alertas vindas do ViewData do controler *@
@Html.ShowError()
<script type="text/javascript">

    $.unblockUI();
    $(document).ready(function () {
        var table = $('#gridConciliacaoBancaria').DataTable({
            dom: 'Blfrtip',
            buttons: [
                'excel'
            ],
            order: [4, "desc"]

        });

        $('#gridConciliacaoBancaria tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });
    });
    function RealizarAcao(tipoAcao) {
        var table = $('#gridConciliacaoBancaria').DataTable();
        var trs = $(table.cells().nodes()).parent()
        var TipoConciliacao = "";
        var TransacaoEncontrada = ""
        $(trs).each(function (index, value) {
            if ($(value).hasClass("selected")) {
                TipoConciliacao = $(value).find('.TipoConciliacao').find('input').val();
                TransacaoEncontrada = $(value).find('.TransacaoEncontrada').find('input').val();

            }
        });
        if (TipoConciliacao == "") {
            msgAviso("Obrigatório selecionar uma transação.");
            return false;
        }
        if (tipoAcao == "INCLUIRTRANSACAO") {
            if (TransacaoEncontrada != "N") {
                msgAviso("Transação já incluída no sistema.");
                return false;
            }
            IncluirTransacao()
        }
    }

</script>
